.homee-container {
    padding: 0 15px !important;
    margin-top: 10px;
}

.introduction-section {
    width: 100%;
    background-color: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 40px ;
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.773), rgba(145, 255, 233, 0.296)), url('../asserts/Advirtisement.jpg');
    margin: 0 !important;
}

.game-title {
    font-size: 50px;
    font-weight: bold;
    color: #ffcc00;
    text-shadow: 2px 2px 4px #000;
    font-family: 'Press Start 2P', cursive;
}

.game-description {
    font-weight: bold;
    margin-top: 20px;
    font-size: 17px;
    color: rgb(193 178 178);
}
.play-btn, .download-btn{
    padding: 10px 20px;
}
.play-btn{
    background-color: #ffcc00;
    color: white;
    border: none;
}
.play-btn:hover,.play-btn:active{
    background-color: #cfac00 !important ;
}
.download-btn{
    background-color: #ffffff;
    color: #ffcc00;
    margin-left: 20px;
    border: none;
}
.download-btn:hover, .download-btn:active{
    background-color: #ececec!important;
    color: #cfa600 !important;
}

.image-box img {
    width: 100%;
    height: 400px;
    border: 2px solid rgba(163, 255, 241, 0.669);
    border-radius: 20px;
    text-align: center;
}




/*------------------------- FEATURES SECTION --------------------------*/
.feature-card {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: border 0.2s ease,transform 0.2s ease, box-shadow 0.2s ease;
}
.feature-title{
    font-family: 'Press Start 2P', cursive;
    color: #ffcc00;
    font-size: 14px;
    text-shadow: 1px 1px 3px #503701;
}
.feature-card:hover {
    border: 3px solid #ffe371e2;
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.feature-image {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin: auto;
}

/* Make Quest icon horizontal only */
.feature-image-horizontal {
    transform: rotate(90deg);
}



/*------------------------- LEADERBOARD SECTION --------------------------*/

.leaderboard-mini-form-section {
    margin: 90px 0 250px 0;
}

.section-title {
    font-family: 'Press Start 2P', cursive;
    color: #ffcc00;
    text-shadow: 3px 3px 5px #000;
    margin-bottom: 100px;
    font-size: 2em;
    text-align: center;
}

.card-stack-container {
    position: relative;
    height: 400px; 
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.player-card-wrapper {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    transition: transform 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}


.player-card-wrapper:nth-child(1) { z-index: 1; }
.player-card-wrapper:nth-child(2) { z-index: 3; }
.player-card-wrapper:nth-child(3) { z-index: 5; }
.player-card-wrapper:nth-child(4) { z-index: 3; }
.player-card-wrapper:nth-child(5) { z-index: 1; }


.player-card {
    width: 250px;  
    height: 380px; 
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background: #1e1e1e;
    position: relative;
}

.player-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.player-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 5px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    font-family: "Poetsen One", sans-serif;
    transition: all 0.5s ease;
    transform: translateY(0); 
    height: 12%;
    
}
.player-card:hover .player-info {
    height: 100%;
    align-items: stretch;
}


.card-stack-container.revealed .player-card-wrapper:nth-child(1) {
    transform: translate(-300%, -50%); 
    z-index: 2; 
}

.card-stack-container.revealed .player-card-wrapper:nth-child(2) {
    transform: translate(-180%, -40%); 
    z-index: 3; 
}

.card-stack-container.revealed .player-card-wrapper:nth-child(3) {
    transform: translate(-50%, -50%);
    z-index: 5; 
}

.card-stack-container.revealed .player-card-wrapper:nth-child(4) {
    transform: translate(80%, -40%); 
    z-index: 3;
}

.card-stack-container.revealed .player-card-wrapper:nth-child(5) {
    transform: translate(200%, -50%); 
    z-index: 2;
}




@media (max-width: 576px) {
    .card-stack-container {
        height: auto; 
        flex-direction: column; 
        padding-bottom: 20px;
    }  
    .player-card-wrapper {
        position: static; 
        transform: none !important; 
        margin-bottom: 15px; 
    }
    .player-card {
        width: 80%;
        max-width: 250px; 
        height: 320px;
        margin: 0 auto;
    }

}

/*------------------------- MARKET SECTION --------------------------*/
.market-mini-form-section {
    
    background-image: url('../asserts/market-banner-Bg.png');
    margin: 150px 1px 0 1px;
    background-color: transparent;
}
.market-mini-form-icon {
    filter: drop-shadow(8px 8px 15px rgba(0, 0, 0, 0.6));
}
.market-banner-title{
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 10px;
}
.trans-market-page-btn{
    
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #ffcc00;
    color: #ffcc00;
    padding: 10px 25px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.4s ease;
}
.trans-market-page-btn:hover{
    border: none;
    background-color: #ffcc00 !important;
    transform: translateX(10px);
    color: white !important;
}

